/* Estilos básicos para o corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

/* Título do quiz */
h2 {
    margin-top: 20px;
    color: #4CAF50;
}

/* Estilos para o contêiner principal */
.conteiner {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

/* Estilos para as questões */
.questoes {
    display: block;
    margin: 20px 0;
    font-size: 1.2em;
    background-color: #4CAF50;


    color: #aa1919;
}

/* Estilos para as respostas */
.respostas {
    background-color: #aa1919;
    display: block;
    width: 300px;
    margin: 10px 0;
}

button{
    width: 200px;
}
.resposta:hover {
    background-color: #45a049;
}

/* Estilos para a seção final */
.final {
    display: none; /* Inicialmente escondido */
    margin-top: 20px;
    text-align: center;
}

.msg {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

/* Estilos para o botão final */
.btn_final {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn_final:hover {
    background-color: #e53935;
}
